// SEMI TITLE AND BIG TITLE
h2 {
  color: #111f41;
  font-size: 40px;
  font-weight: 700;
  line-height: 55px;
}
// MINI TITLE
h3 {
  color: #111f41;
  font-size: 28px;
  font-weight: 700;
  line-height: 40px;
}
