// BUTTONS
.primaryBtn {
  font-size: 15px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  padding: 10px 30px;
  display: inline-block;
  border-radius: 25px;
  background: $darkRed;
  transition: 0.3s all ease-in;
  &:hover {
    background: $titleColor;
    color: #fff;
  }
}
.secondaryBtn {
  font-size: 15px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  padding: 10px 30px;
  display: inline-block;
  border-radius: 25px;
  background: $titleColor;
  transition: 0.3s all ease-in;
  &:hover {
    background: $darkRed;
    color: #fff;
  }
}
