section.login.sectionPaddin {
  padding-bottom: 120px;
}
.contactPageBox {
  border-radius: 10px;
}
.contactPg {
  .menu {
    @include flex;
    justify-content: flex-end;
    column-gap: 50px;
    padding-bottom: 20px;
    li a {
      color: $pragrapColor;
    }
  }
  .profile {
    &_title {
      @include flex;
      column-gap: 10px;
      justify-content: space-between;
      background: #f5f5f5;
      padding: 20px;
      border-radius: 10px;
      a {
        @include flex;
        @include boldText;
        column-gap: 10px;
        img {
          height: 80px;
          width: 80px;
        }
      }
      .content {
        @include flex;
        column-gap: 50px;
        span {
          @include boldText;
        }
      }
    }
  }
  .checkCond {
    padding-top: 50px;
    .checkArea {
      .single {
        display: flex;
        flex-direction: column-reverse;
        label {
          color: $pragrapColor;
          display: block;
          padding-bottom: 5px;
          &.pro {
            @include flex;
            justify-content: space-between;
          }
        }
        input {
          width: 100%;
          border: 1px solid #707070;
          border-radius: 5px;
          padding: 10px;
          margin-bottom: 20px;
          &:focus + label {
            color: $darkRed;
          }
          &:focus {
            border-color: $darkRed;
            outline-color: $darkRed;
          }
        }
      }
      .Radio {
        margin-bottom: 20px;
        p {
          color: $titleColor;
          font-weight: 500;
          padding-bottom: 10px;
        }
        label {
          margin-bottom: 10px;
        }
      }
    }
  }
  select {
    @extend input;
  }
  .cond {
    p.title {
      color: $titleColor;
      font-weight: 500;
    }
    .header {
      @include flex;
      justify-content: space-between;
      padding-bottom: 40px;
      h3.title {
        font-size: 20px;
        @include boldText;
      }
    }
    &__check {
      label {
        cursor: pointer;
        margin-bottom: 15px;
        display: block;
        span a {
          color: $darkRed;
        }
      }
      .btn {
        width: 100%;
        a.primaryBtn {
          display: block;
        }
        width: 100%;
      }
    }
  }
}
