.login {
  background: $primaryColor;
  &__content {
    width: 718px;
    margin: 0 auto;
    margin-top: 30px;
    .header {
      .title {
        text-align: center;
        color: #fff;
      }
    }
    .login_main {
      .box {
        padding-top: 30px;
        &__header {
          background: $titleColor;
          padding: 40px;
          table {
            tr {
              td {
                padding: 8px 0;
                color: #fff;
                &.bgList {
                  font-weight: 700;
                  font-size: 16px;
                  width: 210px;
                }
                a {
                  color: #fff;
                  font-weight: 400;
                  font-size: 16px;
                  &:hover {
                    color: $darkRed;
                  }
                }
              }
            }
          }
        }
        &Content {
          background: #fff;
        }
        &Content {
          padding: 40px;
          &__title {
            font-size: 20px;
            font-weight: 700;
            padding-bottom: 10px;
          }
          .form__control {
            @include flex;
            column-gap: 15px;
            padding-bottom: 15px;
            label {
              display: inline-block;
            }
            .single_item {
              width: 100%;
              label {
                padding-bottom: 5px;
              }
              input {
                width: 100%;
                border: 1px solid #707070;
                border-radius: 5px;
                padding: 10px 20px;
                outline: none;
                &:hover {
                  border-color: $titleColor;
                }
                &:focus {
                  border-color: $darkRed;
                }
              }
              select {
                @extend input;
              }
            }
          }
          .textArea {
            textArea {
              width: 100%;
              @extend input;
              border-radius: 5px;
              height: 230px;
            }
          }
          .buttons {
            @include flex;
            padding-top: 20px;
            justify-content: center;
            column-gap: 20px;
          }
        }
      }
    }
  }
}
